@import '~office-ui-fabric-core/dist/sass/_References.scss';

.portfolio-seminaries {
    display: flex;
    flex-direction: column;
    flex: 1;

    &-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        &-reverse {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
        }
    }

    &-image {
        @include ms-depth-64;
        margin: 2em;
    }
    
    &-text {
        flex: 1;
        margin: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}